* {
  padding: 0px;
  font-family: 'Ubuntu', sans-serif; }

* {
  font-family: 'Ubuntu', sans-serif; }

.AAAA:hover {
  color: aqua;
  transform: scale(1.2); }

@media only screen and (max-width: 1024px) {
  .TituloPpal {
    font-size: 30px;
    position: absolute;
    top: 150px;
    left: 10%;
    color: aliceblue; }
  .claim {
    position: absolute;
    top: 220px;
    left: 10%;
    color: aliceblue;
    font-size: 20px;
    text-align: justify; } }

@media only screen and (max-width: 760px) {
  .TituloPpal {
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 22%;
    color: aliceblue; }
  .claim {
    position: absolute;
    top: 200px;
    left: 9%;
    color: aliceblue;
    font-size: 12px;
    text-align: center; } }

@media only screen and (min-width: 1024px) {
  .TituloPpal {
    position: absolute;
    top: 200px;
    left: 30%;
    color: aliceblue; }
  .claim {
    position: absolute;
    top: 300px;
    left: 20%;
    color: aliceblue; }
  .BotonComienza {
    position: absolute;
    top: 420px;
    left: 43%;
    color: aliceblue;
    border: solid;
    margin: 5px;
    padding: 10px;
    background-color: #1d7667;
    text-decoration: none;
    align-items: center;
    margin-right: 100%;
    text-align: center; }
    .BotonComienza .link {
      text-decoration: none; }
    .BotonComienza .link:visited {
      color: aliceblue; } }

.BotonComienza:hover {
  transform: scale(1.2); }
