* {
    font-family:'Ubuntu', sans-serif;
  
}
@mixin posicion ($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
    color: aliceblue;
}


@media only screen and (max-width:1024px) {
                .ClaimSocial{
                @include posicion(250px,25%);
                 }   
                 }
            @media only screen and (max-width:760px) {
                .ClaimSocial{
                    @include posicion(200px,18%);
                    font-size: 18px;
                    align-items: center;
                    } 
                }
            
            @media only screen and (min-width:1024px) {
                .ClaimSocial{
                    @include posicion(280px,32%)
                    }
                }


.Error{
        border: solid;       
        margin: 5px;
        padding: 10px;
        background-color: rgb(29, 118, 103);
        text-decoration: none;
        align-items: center;
        text-align: center;
    .link {
        text-decoration: none;

    }
    .link:visited{
        color: aliceblue;
    }
}

.Error:hover{
    transform: scale(1.2);
}