*{
    margin: 0;
    padding: 0;
}
body{
    margin-left:0px;
}
.headercontacto {
    background-color: black;
    text-align:end;
    background-image: url(./Imagenes/icon.png);
    background-repeat: repeat-x;
    background-size: 2rem;    
    height: 17 rem;
}
header img{
    width: 5rem;
    margin:10px;
    text-align: left;
}
header {
    background-color: rgb(87, 201, 201);
    text-align: left;
    background-image: url(./Imagenes/icon.png);
    background-repeat: repeat-x;
    background-size: 2rem;    
    height: 17 rem;
}


h1{
    color: black;
    font-size: 2rem;
    text-align: center;
}
h2{
    color: black;
    font-size: 1,6rem;
}
.TituloMenu{
    background-color:rgb(94, 94, 146);
    border:black 5px;
    border-radius: 50%;
    text-align: center;
}
.Menu{
    list-style-type: none;
    background-color:rgb(94, 94, 146);
    border-radius: 60px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
}
.Menu li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: grey;
    padding: 10px;
}
.Menu li a{
    text-decoration:none;
    display: inline-block;
}
.Menu li:hover {
    transform: scale(1.2);
}

.Menu li a:hover{
    color:white;
}

.Contenedor{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border: blue 5px;
    height: 1100px;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px;
    grid-template-areas:
    "a a"
    "b c"
    "d d";
}
.hijo{
    justify-content: center;
    align-content: center;
}
.a{ 
    text-align: center;
    grid-area: a;
    align-self: center;
    justify-self: stretch;
    animation-name: giro_logo;
    animation-iteration-count:infinite;
    animation-duration: 2s;
}
@keyframes giro_logo{
    0% {
        opacity:0 
    }
    50% {
        opacity: 50%;
    }
    100%{
        opacity: 100;
    }
}
.b{
    grid-area: b;
    justify-self: stretch;
    align-self: center;
}
.b:hover {
    transform:scale(1.1)
}
.c {
    justify-self: stretch;
    align-self: center;
    border: black 2px;
    margin: 0px;
    padding: 0px;
    grid-area: c;
    background-image: linear-gradient(to left, blue, white);
    
}
.d{
    grid-area: d;
    justify-self: stretch;
    align-self: center;
}

.redes{
    list-style:circle;
    font-style: italic;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 20px;

}
.redes li{
    display: inline-block;
}

form{
    margin:10px
}
.Fotos{
position: relative;
left: 400px;
}
.Titulo{
    text-align: center;
 }    
 
 @media only screen and (max-width: 768px){
   
    .Contenedor{
        justify-content: center;
        margin: 0px;
        padding: 0px;
        border: blue 5px;
        
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    }
}
.proyectosContenedor{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border: blue 5px;
   

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    grid-template-areas:
    "gh gh i"
    "j kl kl";
}
.hijo2{
    background-color: greenyellow;
    border: 3px black
}
.gh {
    grid-area: gh;
    justify-self: center;
    align-self: center;
}
.i {
    grid-area: i;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 10px;
    background-color: grey;
    padding: 10px;

}
.i:hover{
    color:aqua;
    transform: scale(1.2);
}
.j {
    grid-area: j;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 10px;
    background-color: grey;
    padding: 10px;
}
.j:hover{
    color: aqua;
    transform: scale(1.2);
}

.kl {
    grid-area: kl;
    justify-self: center;
    align-self: center;
}
@media only screen and (max-width: 768px){
    .proyectosContenedor{
        justify-content: center;
        margin: 0px;
        padding: 0px;
        border: violet 5px;
        height: 1100px;
    
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px;
        grid-template-areas:
        "i"
        "gh"
        "j"
        "kl";